/* NO classes or IDs */
/* Goal of this is cascade and specificity. Give
    yourself some more rules */
/* Please Make only World and Zebra Blue */
section > h2 {
    color:blue;
}
/* Please Make only Zebra Purple */
section > h2 + h2 {
    color:purple;
}
/* Please Make only Hufflepuff Gold */
/* parent - child - sibling - sibling */
 section article > h2 + h2 {
    color: gold;
}
/* Please keep Hufflepuff Gold and make ONLY Unicorn Gray  */
section article > h2 {
    color:gray;
}