/* border box tells the browser to account for any border and paddings I specify for an element's width and height */
* {
    box-sizing:border-box;
}
/* The clear:both makes sure that the footer does not jump straight to the header. It will come behind my floats */
header,footer {
    height:100px;
    border:2px solid black;
    clear:both;
}

aside {
    height:500px;
    width:19.9999%;
    border:2px solid black;
    float:left;
}

section {
    height:500px;
    width:39.9999%;
    border:2px solid black;
    float:left;
}

article {
    height:500px;
    width:19.9999%;
    border:2px solid black;
    float:left;
}

