/* Please Make only Rhino and Zebra Blue */
.top {
    color:blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse {
    color:gold;
}
/* Please select Duck with the highest level of specificity possible */
body + h1 + section + h2 + section + article + h2 + article + .likesToQuack {
    color:red;
}
/* Please select Rhino with the highest level of specificity possible */
